[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit-extras = "*"
ipykernel = "*"
tiktoken = "*"
tqdm = "*"
transformers = "*"
torch = "*"
sentence-transformers = "*"
accelerate = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10"
