[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.39.0"
openai = "*"
tinydb = "*"
transformers = "*"
streamlit-extras = "*"
accelerate = "*"
pypdf = "*"
torch = "*"
tiktoken = "*"
ipykernel = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.12"
